---
layout: default
---
<div class="home">
  <h1 class="post-title p-name">Favorites</h1>

  <div class="post-content e-content" itemprop="articleBody">
    This page only includes the recipes that I think you're likely to be looking for. There are more under <a href="/all/">All Recipes</a> or in the <a href="/categories/">Categories</a>!
  </div>

  {%- assign posts = site.recipes | sort: 'title' | where_exp: "item", "item.home_exclude != 'exclude'" -%}

  <ul class="post-list">
    {%- for post in posts -%}

    {%- assign categories = site.emptyArray -%}
    {%- for category in post.categories -%}
      {%- for subcategory in category["category"][0] -%}
        {%- assign categories = categories | push: subcategory -%}
      {%- endfor -%}
    {%- endfor -%}

    <li>
      <span class="post-meta">
        {{ categories | join: ", " }}
      </span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </li>
    {%- endfor -%}
  </ul>
</div>
